{% extends 'template_header.html' %}

{% block content %}
{% if snippet %}
  <h1> Snippet </h1>
  <pre>
    <code>
      {{ snippet.code }}
    </code>
  </pre>
  <p>User: {{ snippet.user }} </p>
  <p> {{ snippet.pub_date }} </p>

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="col-md-3">.col-md-3</div>
  </div>
{% else %}
  <h1> No such snippet available</h1>
  {% endif %}
{% endblock %}
