<div class="inline-comment_container">
  <form action="/add_comment/{{ snippet_id }}/" method="POST">
    {% csrf_token %}
    <textarea name="comment" class="form-control"
              rows=3 placeholder="Type here"></textarea>
    <input type="hidden" value="0" name="row">
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button id="cancel" class="btn btn-default">Cancel</button>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
