{% load staticfiles %}
<!doctype html>
<html lang="en">
  <title>Snippet x</title>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/extras.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <ul class="nav nav-pills">
          <li class="active"><a href="{% url 'add_snippet' %}">Home</a></li>
          {% if user != 'AnonymousUser' %}
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <a class="navbar-brand" href="#">SnipChat</a>
      </div>
    </div>
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'javascript/ace.js' %}"></script>
    <script src="{% static 'javascript/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
  </body>
</html>
