{% load staticfiles %}
<!doctype html>
<html lang="en">
  <title>Snippet x</title>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/extras.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'javascript/ace.js' %}"></script>
    <script src="{% static 'javascript/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
  </body>
</html>
